body {
    background-color: #E4E9FD;
    font-family: 'helvetica neue';
    word-wrap: break-word;
}

h2,
h4,
footer,
h5,
div#heading {
    text-align: center;
}

h2,
h4,
h5 {
    color: #fff;
}

h2,
h4 {
    padding-top: 1.2rem;
    line-height: 0.6rem;
}

h5#clock {
    padding-top: 0.2rem;
    padding-bottom: 0.3rem;
}

h4.noTask {
    color: greenyellow;
}

h4.hasTask {
    color: red;
}

.box {
    max-width: 600px;
    margin: 20px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

div#heading {
    background-color: #00204a;
}

.item {
    min-height: 3rem;
    margin-left: 20px;
    max-width: 550px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
    padding-bottom: 1rem;
}

input[type="text"] {
    height: 50px;
    margin-left: 20px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 200;
    width: 420px;
}

input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 -0.1rem 0 0 #A683E3;
}

input:checked+p {
    text-decoration: line-through;
    text-decoration-color: #00204a;
}

input[type="checkbox"] {
    margin-left: 0.72rem;
}

::placeholder {
    color: grey;
    opacity: 1;
    text-align: right;
    margin-left: 6.25rem;
}

p.items {
    margin: 0;
    padding: 15px;
    font-size: 20px;
    font-weight: 200;
    color: #00204a;
    word-break: break-word;
    overflow-wrap: break-word;
    -ms-word-break: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

button.add {
    background-color: #00204a;
    color: #fff;
    height: 2.1rem;
    width: 2.1rem;
    border: 0.1rem solid cyan;
    border-radius: 50%;
    font-size: 1.45rem;
    padding: 0;
    margin: auto;
}

button.add:hover {
    background-color: cyan;
    border: 0.1rem solid #A683E3;
    font-weight: bold;
}

div.footer {
    background-color: #000c1d;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3rem;
    padding: 1rem;
    margin-top: 5rem;
}

p.footer {
    font-size: 1rem;
    color: #fff;
}

.container-fluid {
    position: absolute;
    padding-bottom: 5rem;
}